@charset "utf-8";
@import "./variables.scss";
@import "./abstracts.scss";

input {
  width: 100%;
  padding: 6px 12px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #0a0a0a;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  color: #606571;
  &:focus {
    outline: none;
  }
}

/* 에디터 상단 고정..  */
.ck-sticky-panel__content {
  top: 123px !important;
}